.trainers {
    background: $background-green-0;
    color: $text-color-0;
    padding: 0 29px 53px 29px;
    h3 {
        @include text-size26-height31-600; 
    }
    .card {
        @include card-height;
        padding: 23px;
        border-radius: 5px;
        box-shadow: 0px 5px $background-orange;
        h2 {
            @include text-size14-height17-600;  
        }
        .badge {
            background: $background-orange;
            border-radius: 10rem;
            @include text-size14-height17-400;
            border: 1px solid $background-1;
        } 
        .p1 {
            font-size: 13px;
            line-height: 16px;
            color: $text-color-light;
            span {
               font-weight: 600; 
            }
        } 
        .p2 {
            @include text-size12-height14-400;
        }
        .p3 {
            @include text-size14-height17-400;
        }
        button {
            border: none;
            background: $background-1;
            font-size: 28px;
            line-height: 26px;
            color: #B3B3B3;
        }
        img {
            border-radius: 500px;
            box-shadow: 5px 0px  $background-green-0;
        }
    }
}